
/*CSS reference for Google Fonts*/
/*font-family: 'Spicy Rice', cursive;*/
/*font-family: 'Poppins', sans-serif;*/

.jumbotron{
    text-align: center;
    font-family: 'Spicy Rice';
    margin:auto;
    width: 70%;
    max-width: 650px;
    background-color: #FCF7C7;
    opacity: .9;
}

.lead{
    font-family: 'Poppins';
    margin-top: 15px;
}

body{
    font-family: 'Poppins';
    background-image: url(../images/green_cup.png);
    margin:auto;
    padding: 40px;
    width: 100%;
}
.mainContent{
    margin: auto;
}
.intro{
    width: 90%;
    min-width: 600px;
    margin: auto;
    background-color: #FCF7C7;
    opacity: .9;
    padding: 30px;
}

.zookeep{
    margin: 10px;
    opacity: .9;
    background-color: #FCF7C7;
    padding: 5px;
}

.hangManBox{
    min-width: 80%;
    min-height:150px;
    margin: 20px;
    margin-left:30px;
    background-color: #FCF7C7;
    padding: 20px;
    text-align: center;
    opacity: .9;
    
}

.needSpaces{
    letter-spacing: 8px;
    font-weight: bold;
}

#directions{
    min-width: 50px;
    margin: 10px;
    
}

#score{
    font-weight: bolder;
    text-indent: 30px;
    margin: 10px;
    margin-left: 20px;
    min-height: 125px;
    text-align: left;
}

